<div class="container-fluid px-0 mx-0" style="direction: rtl">
  <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="#" style="font-weight: bolder">فرهنگ</a>
    <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarText" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">خانه</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">درباره ما</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">اطلاعات تماس</a>
        </li>
      </ul>
      </div>
  </nav>
  <router-outlet/>
</div>

